/* Habit container for detail view */
.habit{
    height: 7rem;
    width: 80%;
    margin-top: 2rem;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
    background-image: linear-gradient(to right, #FFD194, #D1913C);
}

/* Habit Details container */
.habitDetails{
    display: flex;
    flex-direction: column;
}

.habitDetails p{
    color: rgb(9, 9, 103);
    font-size: large;
    font-weight: 700;
}

.habitDetails span{
    color: rgb(82, 80, 80);
}

/* Habit Actions container */
.habitActions{
    width: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#fav{
    color: rgb(237, 226, 226);
}

.habitActions i{
    padding-top: 40px;
    color:maroon;
    font-size: 25px;
}

.habitActions i:hover{
    cursor: pointer;
}