/* Navbar component */
.nav {
    width: 100%;
    position: sticky;
    top: 0;
    color: whitesmoke;
    background: black;
    height: 70px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Navbar left section */
  .navLeft{
    font-size: larger;
  }

  .navLeft a{
    text-decoration: none;
    color: whitesmoke;
  }

  /* Navbar right section */
  .navRight a{
    text-decoration: none;
    color: whitesmoke;
    font-size: larger;
  }

  .navRight p{
    height: 2.5rem;
    width: 9em;
    box-sizing: border-box;
    text-align: center;
    padding-top: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgb(247, 165, 12);;
  }

  .navRight p:hover{
    cursor: pointer;
    background-color: rgb(247, 135, 12);
  }
  