/* Deatil view page */

/* calender header */
.calHeader{
    height: 3rem;
    width: 100%;
    position: sticky;
    top: 4rem;
    font-size: large;
    text-align: center;
    box-sizing: border-box;
    padding-top: 8px;
    border: 1px solid black;
    background-color: lightgray;
}

/* calander week days header  */
.weekDays{
    height: 2rem;
    width: 100%;
    position: sticky;
    top: 7rem;
    display: flex;
    flex-direction: row;
    background-color: rgb(245, 224, 172);
}

.weekDays div{
    height: 100%;
    width: 14.28%;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid black;
}